* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteiner {
  width: 1400px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 150px);
  gap: 10px;
}

.p1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.p2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.p1 p,
.p2 p {
  font-size: 32px;
  letter-spacing: 6px;
  font-family: sans-serif;
  margin-left: 60px;
}

.im2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.im3 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.im4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.im5 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.im6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.im7 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.im8 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

