* {
    margin: 0;
    padding: 0;
}

.img {
    width: 300px;
    height: 200px;
}
h1 {
    margin-left: 70px;
    padding-top: 50px;

}
.conteiner {
    width: 1300px;
    height: 420px;
    margin: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}