* {
    margin: 0;
    padding: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteiner {
    width: 1300px;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 20px;
}

.im1 {
    grid-area: 1 / 1 / 2 / 3;
}

.im2 {
    grid-area: 1 / 3 / 2 / 4;
}

.im5 {
    grid-area: 2 / 2 / 4 / 3;
}

.im6 {
    grid-area: 2 / 3 / 3 / 5;
}